div .form-inner h2{
    color: #232B2B;
    font-size: 30px;
    font-weight: 500;
}

div .form-inner h3{
    color: #888;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
}

div .info-wrapper p{
    font-size: 20px;
    font-weight: 500;
}

.info-label{
    float: left;
}

.info-content{
    float: right;
    color: #888
}

div .info-wrapper text{
    font-size: 20px;
    color: #888;
    text-align: right;
}

.icon-wrapper{
    text-align: center;
}

.name-wrapper{
    text-align: center;
}

.user-icon{
    font-size: 100px;
    align-items:center;
}

div .pass-div{
    margin-bottom: 10px;
}

div .pass-wrapper h3{
    margin-bottom: 0px;
    color:#232B2B;
}

div .pass-wrapper h4{
    margin-bottom: 0px;
    color: #888;
    font-weight: 500;
}

.pass-title{
    margin-top: 20px;
    margin-bottom: 10px;
    color:#232B2B;
    text-align: center;
}

.logout-button-div{
    text-align: center;
    margin-top: 30px;
}

.logout-button{
    padding:10px 30%;
    border-radius: 8px;
    background-image: linear-gradient(to right, #28965A 50%, #28965A 50%, #7CFEF0);
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.logout-button:hover{
    background-position:100% 0%;
}

.button-header{
    padding: 20px;
    margin-bottom: 15px;
}

.button-div{
    width: 50%;
    float: left;
}

.settings-btn{
    float: right;
    font-size: 20px;
}

.settings-btn:hover{
    cursor: pointer;
    transform: rotate(45deg);
    transition: all 0.25s ease-in-out;
}

.back-btn{
    font-size: 20px;
}

.back-btn:hover{
    cursor:pointer;
    transform: translateX(-5px);
    transition: .1s;
}